# Python Version: 3.12.13

# Core Data Science & Visualization
numpy==2.4.3
pandas==3.0.1
scipy==1.17.1
matplotlib==3.10.8
seaborn==0.13.2

# Machine Learning & Stats
scikit-learn==1.6.1
statsmodels==0.14.6
imbalanced-learn==0.14.1

# Image Processing & Computer Vision
opencv-python==4.13.0.92
Pillow==12.1.1
scikit-image==0.25.2
imagehash==4.3.2

# Utilities & Specialized
tqdm==4.67.3
missingno==0.5.2
holidays==0.94
kagglehub==1.0.0